p{
	font-size: 1.5em;
}
ul{
	font-size: 1.5em;
}
ol{
	font-size:1.5em;
}
body{
	background-image: url("project2images/oak.jpeg");
	color: white;
}
img {
	float:right;
}
	
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  border-style: solid
}

.logo{
	width: 7%;
	height: auto;
	float: left;
	
}
.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {display: block;}
.AboutUs{
	background-color: white;
	padding: 16px;
  font-size: 16px;
  border-style: solid;
  text-decoration: none;
  color: black
}
.refrences{
	background-color: white;
	padding: 16px;
  font-size: 16px;
  border-style: solid;
  text-decoration: none;
  color: black
}